<h1> Welcome to <%= @heroine.name %>'s Page!</h1>

<h2> My Super Hero name is <%= @heroine.super_name %> </h2>

<h2> My Power is <%= @heroine.power_id %> </h2>

<h2> What is that? Look here <%= link_to("All Powers", powers_path)%>
                